.button.button-icon.input-button {
  /*position: absolute;*/
  /*display: inline-block;*/
  *right: 0;
  top: -10px;
  color: #bbb;
  vertical-align: middle;
}

/*.item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}*/

/*.my-item.item {
  padding-top: 0;
  padding-bottom: 0;
}*/

.full-width {
  width: 100%;
}

.no-padding {
    padding: 0px !important;
}

/*.row_size {
  height: 25px;
  width: 25px;
}
*/

.icon-yellow {
 display: inline-block;
 font-size: 35px;
 color: #ffC977;
 vertical-align: middle;
}

.text{
  display: inline-block;
  vertical-align: middle;
}

.img-list {
  display: inline-block;
  vertical-align: middle;
  height: 50px!important;
  width: 50px!important;
}

.img-small {
  display: inline-block;
  vertical-align: middle;
  height: 25px!important;
  width: 25px!important;
}

/************************/
/*.images-parent{
  text-align: center;
}

.left-image{
  float:left;
  max-width: 80px !important;
  max-height: 80px !important;
}

.center-image{
  margin:0 auto;
  max-width: 80px !important;
  max-height: 80px !important;
}

.right-image{
  float:right;
  max-width: 35px !important;
  max-height: 35px !important;
  vertical-align: center; 
}*/

/*.item-content {
    padding-top: -8px;
    padding-bottom: 0px;
    margin-top: -2px;
    margin-bottom: -2px;
    height: 50px;
}
*/

/*.item-home:hover {
  background-color: white;
}*/

.textarea-inline {
  display: inline-block;
  resize: none;
  text-align: left;
  color: white;
}

.textarea-inline.nurselist {
  display: inline-block;
  resize: none;
  text-align: left;
  color: black;
}

.textarea-inline.noklist {
  display: inline-block;
  resize: none;
  text-align: left;
  color: black;
  background-color: white;
}

/*.textarea-inline[readonly] {
  background-color:white!important;

}*/

/*.textarea-inline[readonly]:hover {
  background-color:white!important;
}*/


