.validation h6 {
    color: #d9534f;
}

.login-container {
    padding-top: 40px;
}

label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.valid-lr {
  border-bottom: 2px solid green;

}
