/*.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}*/

.toppad
{
    margin-top:20px;
}

.full-image {
  width: 200px!important;
  height: 200px!important;
  border-radius: 50%;
}

.frm-padding {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
