<ion-view cache-view="false" view-title="My Profile">

    <ion-nav-buttons side="secondary">
        <button class="button button-clear icon ion-log-out" ng-click="ctrl.logout()"></button>
    </ion-nav-buttons>

    <ion-content class="padding">

        <ion-list>
            <ion-item>
                <div class="col responsive-md">
                    <div class="row responsive-md">
                        <div class="col responsive-sm" style="text-align: center;">
                            <img class="img-circled" ng-src="{{ctrl.urlphoto}}"
                                style="width: 75%;">
                                <!--style="width: 75%;" ng-click="ctrl.showModal()">-->
                            <!--&nbsp; &nbsp;&nbsp; &nbsp;-->
                        </div>

                        <div class="col responsive-sm">

                            <form name="myForm" novalidate="" ng-submit="ctrl.saveprofile()">
                                
                                <ion-list>

                                    <label  class="item item-input"> 
                                        <span class="input-label no-padding">NRIC (ID): </span>
                                        <input type="text" name="id" 
                                                ng-model="ctrl.user.id" readonly>
                                    </label>
                                    <label  class="item item-input">
                                        <span class="input-label no-padding">Last name: </span>
                                        <input type="text" name="last_name" 
                                                ng-model="ctrl.user.last_name" readonly>
                                    </label>
                                    <label  class="item item-input"> 
                                        <span class="input-label no-padding">First name: </span>
                                        <input type="text" name="first_name" 
                                                ng-model="ctrl.user.first_name" readonly>
                                    </label>
                                    <label  class="item item-input"> 
                                        <span class="input-label no-padding">Date of Birth: </span>
                                        <input type="date" name="birth_date" 
                                                ng-model="ctrl.user.birth_date" readonly
                                                    placeholder={{ctrl.user.birth_date | date:'yyyy-MM-dd'}}>
                                    </label>
                                    <label  class="item item-input"> 
                                        <span class="input-label no-padding">Gender: </span>
                                        <input type="text" name="gender" 
                                                ng-model="ctrl.user.gender" readonly>
                                    </label>
                                    <label  class="item item-input">
                                        <span class="input-label no-padding">Position: </span>
                                        <input type="text" ng-model="ctrl.user.position" readonly>
                                        <!--<input ng-show="!ctrl.editmode" type="text" ng-model="ctrl.user.position" readonly>
                                        <input ng-show="ctrl.editmode" type="text" name="contact" 
                                                ng-model="ctrl.user.position" ng-maxlength="32" required>-->
                                    </label>
                                    <label  class="item item-input">
                                        <span class="input-label no-padding">Contact: </span>
                                        <input ng-show="!ctrl.editmode" type="text" ng-model="ctrl.user.contact" readonly>
                                        <input ng-show="ctrl.editmode" type="text" name="contact" 
                                                ng-model="ctrl.user.contact" ng-maxlength="16" required>
                                    </label>
                                    <label  class="item item-input">
                                        <span class="input-label no-padding">Email: </span>
                                        <input ng-show="!ctrl.editmode" type="email" ng-model="ctrl.user.email" readonly>
                                        <input ng-show="ctrl.editmode" type="email" name="email" 
                                                ng-model="ctrl.user.email" ng-maxlength="32" required>
                                    </label>
                                    <label  class="item item-input">
                                        <span class="input-label no-padding">Address: </span>
                                        <input ng-show="!ctrl.editmode" type="text" ng-model="ctrl.user.address" readonly>
                                        <input ng-show="ctrl.editmode" type="text" name="address" 
                                                ng-model="ctrl.user.address" ng-maxlength="64" required>
                                    </label>

                                </ion-list>     
                                        
                            </form>                       
                            <div class="col">
                                <button ng-show="!ctrl.editmode" style="float: right;" class="button button-positive ion-compose" ng-click="ctrl.editprofile()"> Edit Profile</button>
                                <button ng-show="ctrl.editmode" style="float: right;" class="button button-assertive ion-close" ng-click="ctrl.cancel()"> Cancel</button>
                                <button ng-show="ctrl.editmode" style="float: right;" class="button button-balanced ion-archive" ng-click="ctrl.saveprofile()">&nbsp;&nbsp;Save</button>
                            </div>       
                                
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>

  </ion-content>
</ion-view>
