
<ion-view cache-view="false" id="loginFrm" hide-nav-bar="true">
    <ion-content padding="true" scroll="false">
        <section class="login-container">
            <form name="loginForm" novalidate ng-submit="loginForm.$valid && ctrl.login()">
                <div class="responsive-md">
                    <div class="col col-50 col-offset-25">

                        <div class="header padding text-center">
                            <img src="./img/hnf.jpg" alt="logo"/>
                        </div>

                        <div class="list">
                            <!--<label class="item item-input item-floating-label">-->
                                <!--<span class="input-label">Password</span>-->
                            <label class="item item-input"
                                ng-class="{ 'has-error': (loginForm.id.$touched || loginForm.$submitted) && loginForm.id.$error.required, 
                                    'valid-lr': loginForm.id.$valid && loginForm.id.$touched}">
                                <input type="text"
                                    name="id"
                                    ng-model="ctrl.user.id"
                                    ng-maxlength="16"
                                    placeholder="NRIC (ID)"
                                    required>
                            </label>

                            <div class="validation" ng-show="loginForm.id.$touched || loginForm.$submitted">
                                <div data-ng-show="loginForm.id.$error.required">
                                    <h6><i class="icon ion-alert-circled"></i> NRIC(ID) cannot be empty.</h6>
                                </div>
                                <div data-ng-show="loginForm.id.$error.maxlength">
                                    <h6><i class="icon ion-alert-circled"></i> Max. length is 16.</h6>
                                </div>
                            </div>

                            <div class="row"></div>

                            <!--<label class="item item-input item-floating-label">-->
                                <!--<span class="input-label">Password</span>-->
                            <label class="item item-input"
                                ng-class="{ 'has-error': (loginForm.id.$touched || loginForm.$submitted) && (loginForm.$error.required || loginForm.$error.maxlength), 
                                    'valid-lr': loginForm.password.$valid}">
                                <input type="password"
                                    name="password"
                                    ng-model="ctrl.user.password"
                                    ng-maxlength="16"
                                    placeholder="Password"
                                    required>
                            </label>

                            <div class="validation" ng-show="loginForm.password.$touched || loginForm.$submitted">
                                <div data-ng-show="loginForm.password.$error.required">
                                    <h6><i class="icon ion-alert-circled"></i> Password cannot be empty.</h6>
                                </div>
                                <div data-ng-show="loginForm.password.$error.maxlength">
                                    <h6><i class="icon ion-alert-circled"></i> Max. length is 16.</h6>
                                </div>
                            </div>
                        </div>

                        <button class="button button-block button-positive">
                        <i class="icon ion-ios-locked"></i>
                            Login
                        </button>

                    </div>
                </div>
            </form>
        </section>
    </ion-content>
</ion-view>
