<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit PillBox {{ctrl.modalpillboxNum}}  </h1>
        <!--<button class="button button-clear button-primary" ng-click="ctrl.cancelModal()">Cancel</button>-->
    </ion-header-bar>

    <ion-content class="padding">
        <form name="myForm" novalidate="">
                            
            <ion-list>

                <label  class="item item-input"> 
                    <span class="input-label no-padding" style="font-weight: bold;">Name of pill: </span>
                    <input type="text" name="pill_name" ng-model="ctrl.modalpillbox.pill_name">
                </label>
                <label  class="item item-input"> 
                    <span class="input-label no-padding" style="font-weight: bold;">Take </span>
                    <input type="text" name="dose" ng-model="ctrl.modalpillbox.dose">
                    <span class="input-label no-padding" style="font-weight: bold;"> pill(s) </span>
                </label>
                <label  class="item item-input">
                    <span class="input-label no-padding"> </span>
                    <input type="text" name="freq" 
                            ng-model="ctrl.modalpillbox.freq">
                    <span class="input-label no-padding" style="font-weight: bold;"> times a day </span>
                </label>
                <label  class="item item-input">
                    <span class="input-label no-padding" style="font-weight: bold;">Pills left: </span>
                    <input type="text" name="freq" 
                            ng-model="ctrl.modalpillbox.left">
                </label>
                <br>
                <button style="float: right;" class="button button-assertive ion-close" ng-click="ctrl.cancelModal()"> Cancel</button>
                <button style="float: right;" class="button button-balanced ion-archive" ng-click="ctrl.savePillBox()"> Save</button>

            </ion-list>     
                                    
        </form>

    </ion-content>
</ion-modal-view>