<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Change Photo</h1>
        <button class="button button-clear button-primary" ng-click="ctrl.cancelModal()">Cancel</button>
    </ion-header-bar>

    <ion-content class="padding">
        <form name="UploadForm" novalidate ng-submit="ctrl.updatePhoto(imgFile)" autocomplete="off">
            <div class="form-group">
                <!-- Select file to upload. Single file only. Accepts only images-->
                <input id="file" type="file" ng-model="imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
            </div>
            <div class="form-group">
                <!-- Thumbnail preview of image to upload. -->
                <img ngf-thumbnail="imgFile" class="img-thumbnail">
            </div>
            <div class="form-group">
                <!-- Upload button. Click to upload images -->
                <button class="btn btn-default" type="submit">Upload</button>
            </div>

        </form>
        <div class="row" ng-if="ctrl.status.code==202">
            <p> Photo successfully updated ! </p>&nbsp;&nbsp;&nbsp;
            <button class="button button-balanced" ng-click="ctrl.closeModal()">
                &times;&nbsp;Close
            </button>
        </div>
    </ion-content>
</ion-modal-view>