
<ion-view ng-show="ctrl.supervisoraccess" view-title="Nurses List">

    <!--<ion-nav-buttons side="secondary">
      <button class="button button-dark" ng-click="doSomething()">
        I'm a button on the primary of the navbar!
      </button>
    </ion-nav-buttons>-->

    <div class="col col-50 col-offset-25 responsive-sm">
        <ion-header-bar class="bar-light bar-subheader">
        
            <input type="text" ng-model="ctrl.search" class="full-width" placeholder="Search by Last/First name, NRIC(ID) .......">
            <div class="row text-right">
                <div class="col">
                    <button 
                        class="button button-icon ion-android-close input-button"
                        ng-click="ctrl.clearSearch()">
                    </button>
                </div>
            </div>
           
        </ion-header-bar>
    </div>

    <ion-content class="has-header">
        <ion-list>
            <ion-item class="no-padding item-content item-home"
                    ng-click="ctrl.viewnurse(item.id)"
                    ng-repeat="item in ctrl.nurseList | filter:ctrl.search"
                    item="item"
                    style="line-height: 70px; background-color: white;">

                    &nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <img class="img-list" 
                        ng-src="https://s3-ap-southeast-1.amazonaws.com/nus-iss-stackup/nurses/{{item.id}}.jpg"></img>
                    &nbsp;&nbsp;
                    <textarea class="textarea-inline nurselist" rows="3" cols="50" readonly
                        ng-style="{'background-color': 'white'}">{{item.id}}&nbsp;&nbsp;{{ item.last_name+', '+item.first_name }}&#10;Contact: {{item.contact}}                   
                    </textarea>

            </ion-item>
        </ion-list>
     
    </ion-content>

</ion-view>