<ion-view title="Patients List">

    <div class="col col-50 col-offset-25 responsive-sm">
    <ion-header-bar class="bar-light bar-subheader">
        <!--<i class="icon-yellow ion-search"></i>
        <p class="text h5">&nbspby:&nbsp</p>
        <p class="text h5">&nbsp&nbsp</p>-->
        <!--<select ng-model="mySelect" ng-change="showSelectValue(mySelect)">-->
        <!--<select ng-model="mainSelect" ng-change="showSelectValue(mainSelect)">
            <option selected>NRIC (ID)</option>
            <option>Name</option>
            <option>ePillBox S/N</option>
            <option>Adherence</option>
        </select>
        <p class="text h5">&nbsp&nbsp</p>-->
        <!--<select ng-show="showAdhere" ng-model="adhereSelect">
            <option selected>Healthy</option>
            <option>Warning</option>
            <option>Attention</option>
        </select>
        &nbsp&nbsp-->
        <!--<search-bar ng-model="ctrl.search"></search-bar>-->
        <!--<input class="text" type="search"
                placeholder="First/Last name, NRIC(ID) ......."
                ng-model="ctrl.search"
                ng-focus="searchFocused = true"
                ng-blur="searchFocused = false"
                ng-change="scrollTop()"
                class="full-width">-->
        <input type="text" ng-model="ctrl.search" class="full-width" placeholder="Search by Last/First name, NRIC(ID) .......">
        <div class="row text-right">
            <div class="col">
                <button 
                    class="button button-icon ion-android-close input-button"
                    ng-click="ctrl.clearSearch()">
                </button>
            </div>
        </div>
           
    </ion-header-bar>
    </div>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="no-padding item-content item-home"
                    ng-click="ctrl.viewpatient(item.id)"
                    ng-repeat="item in ctrl.patientList | filter:ctrl.search"
                    item="item"
                    style="line-height: 70px;"
                    ng-style="(item.adhere=='GD' && {'background-color': '#00CC00'}) || (item.adhere=='NG' && {'background-color': '#990000'})">

                    &nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <img class="img-list" 
                        ng-src="https://s3-ap-southeast-1.amazonaws.com/nus-iss-stackup/patients/{{item.id}}.jpg"></img>
                    &nbsp;&nbsp;
                    <textarea class="textarea-inline" rows="3" cols="50" readonly
                        ng-style="(item.adhere=='GD' && {'background-color': '#00CC00'}) || 
                            (item.adhere=='NG' && {'background-color': '#990000'})">{{ item.last_name+', '+item.first_name }}&#10;{{item.id}}                    
                    </textarea>

            </ion-item>
        </ion-list>
     
    </ion-content>

</ion-view>