<!--
    patientprofile.html
-->

<ion-view cache-view="false" view-title="Patient's Profile">
  <ion-content class="padding">
    
    <ion-list>
            <ion-item>
                <div class="col responsive-md">
                    <div class="row responsive-md">
                        <div class="col responsive-sm" style="text-align: center;">
                            <img class="img-circled" style="width: 75%;"
                                ng-src="https://s3-ap-southeast-1.amazonaws.com/nus-iss-stackup/patients/{{ctrl.user.id}}.jpg"></img>
                            <!--&nbsp; &nbsp;&nbsp; &nbsp;-->
                        </div>

                        <div class="col responsive-sm">

                            <form name="myForm" novalidate="" ng-submit="ctrl.saveprofile()">
                                
                                <ion-list>

                                    <label  class="item item-input"> 
                                        <span class="input-label no-padding">NRIC (ID): </span>
                                        <input type="text" name="id" 
                                                ng-model="ctrl.user.id" readonly>
                                    </label>
                                    <label  class="item item-input">
                                        <span class="input-label no-padding">Last name: </span>
                                        <input type="text" name="last_name" 
                                                ng-model="ctrl.user.last_name" readonly>
                                    </label>
                                    <label  class="item item-input"> 
                                        <span class="input-label no-padding">First name: </span>
                                        <input type="text" name="first_name" 
                                                ng-model="ctrl.user.first_name" readonly>
                                    </label>
                                    <label  class="item item-input"> 
                                        <span class="input-label no-padding">Date of Birth: </span>
                                        <input type="date" name="birth_date" 
                                                 ng-model="ctrl.user.birth_date" readonly
                                                    placeholder={{ctrl.user.birth_date | date:'yyyy-MM-dd'}}>
                                    </label>
                                    <label  class="item item-input"> 
                                        <span class="input-label no-padding">Gender: </span>
                                        <input type="text" name="gender" 
                                                ng-model="ctrl.user.gender" readonly>
                                    </label>
                                    <label  class="item item-input">
                                        <span class="input-label no-padding">Contact: </span>
                                        <input ng-show="!ctrl.editmode" type="text" ng-model="ctrl.user.contact" readonly>
                                        <input ng-show="ctrl.editmode" type="text" name="contact" 
                                                ng-model="ctrl.user.contact" ng-maxlength="16" required>
                                    </label>
                                    <label  class="item item-input">
                                        <span class="input-label no-padding">Email: </span>
                                        <input ng-show="!ctrl.editmode" type="email" ng-model="ctrl.user.email" readonly>
                                        <input ng-show="ctrl.editmode" type="email" name="email" 
                                                ng-model="ctrl.user.email" ng-maxlength="32" required>
                                    </label>
                                    <label  class="item item-input">
                                        <span class="input-label no-padding">Address: </span>
                                        <input ng-show="!ctrl.editmode" type="text" ng-model="ctrl.user.address" readonly>
                                        <input ng-show="ctrl.editmode" type="text" name="address" 
                                                ng-model="ctrl.user.address" ng-maxlength="64" required>
                                    </label>

                                </ion-list>     
                                        
                            </form>                       
                            <div class="col">
                                <button ng-show="!ctrl.editmode" style="float: right;" class="button button-positive ion-compose" ng-click="ctrl.editprofile()"> Edit Profile</button>
                                <button ng-show="ctrl.editmode" style="float: right;" class="button button-assertive ion-close" ng-click="ctrl.cancel()"> Cancel</button>
                                <button ng-show="ctrl.editmode" style="float: right;" class="button button-balanced ion-archive" ng-click="ctrl.saveprofile()">&nbsp;&nbsp;Save</button>
                             </div>       
                                 
                        </div>
                    </div>
                </div>
            </ion-item>

            <div class="item item-divider" style="height: 50px;">
                <div class = "tabs tabs-icon-top">
                    <a class = "tab-item"  ng-click="ctrl.toggleRegimen()">
                        <i class = "icon ion-ios-medical-outline"></i>
                        Medication Regimen
                    </a>
                        
                    <a class = "tab-item" ng-click="ctrl.toggleNOK()">
                        <i class="icon ion-ios-people-outline" ></i>
                        Next-of-Kin
                    </a>             
                </div>
            </div>

            <ion-item ng-show="ctrl.showRegimen" class="no-padding">
                <div class="row">
                    <label style="height: 30px; font-weight: bold;  color: blue; font-size: 20px; width: 100%; text-align: center;">Medication Regimen</label>
                </div>
                <div class="row no-padding responsive-sm">
                    <div class="col responsive-sm" ng-class="ctrl.user_pillbox.box1.adhere" ng-click="ctrl.pillBoxClick(1)">
                        <textarea class="textarea-inline" rows="6" cols="32" ng-class="ctrl.user_pillbox.box1.adhere" readonly>{{ctrl.user_pillbox.box1.pill_name}}&#13;&#10;Take {{ctrl.user_pillbox.box1.dose}} pill(s), {{ctrl.user_pillbox.box1.freq}} times a day&#13;&#10;&#13;&#10;Administered by: {{ctrl.user_pillbox.box1.admin}}&#13;&#10;&#13;&#10;{{ctrl.user_pillbox.box1.left}} pill(s) left </textarea>
                        <img ng-src="img/pillbox/1_red.png" style="width: 80px; height: 100px; float: right;"></img>
                    </div>
                    <div class="col" ng-class="ctrl.user_pillbox.box2.adhere" ng-click="ctrl.pillBoxClick(2)">
                        <textarea class="textarea-inline" rows="6" cols="32" ng-class="ctrl.user_pillbox.box2.adhere" readonly>{{ctrl.user_pillbox.box2.pill_name}}&#13;&#10;Take {{ctrl.user_pillbox.box2.dose}} pill(s), {{ctrl.user_pillbox.box2.freq}} times a day&#13;&#10;&#13;&#10;Administered by: {{ctrl.user_pillbox.box3.admin}}&#13;&#10;&#13;&#10;{{ctrl.user_pillbox.box2.left}} pill(s) left </textarea>
                        <img ng-src="img/pillbox/2_pink.png" style="width: 80px; height: 100px; float: left; padding-right: 5px;"></img>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-show="ctrl.showRegimen" class="no-padding">
                <div class="row no-padding responsive-sm">
                    <div class="col responsive-sm" ng-class="ctrl.user_pillbox.box3.adhere" ng-click="ctrl.pillBoxClick(3)">
                        <textarea class="textarea-inline" rows="6" cols="32" ng-class="ctrl.user_pillbox.box3.adhere" readonly>{{ctrl.user_pillbox.box3.pill_name}}&#13;&#10;Take {{ctrl.user_pillbox.box3.dose}} pill(s), {{ctrl.user_pillbox.box3.freq}} times a day&#13;&#10;&#13;&#10;Administered by: {{ctrl.user_pillbox.box3.admin}}&#13;&#10;&#13;&#10;{{ctrl.user_pillbox.box3.left}} pill(s) left </textarea>
                        <img ng-src="img/pillbox/3_orange.png" style="width: 80px; height: 100px; float: right;"></img>
                    </div>
                    <div class="col" ng-class="ctrl.user_pillbox.box4.adhere" ng-click="ctrl.pillBoxClick(4)">
                        <textarea class="textarea-inline" rows="6" cols="32" ng-class="ctrl.user_pillbox.box4.adhere" readonly>{{ctrl.user_pillbox.box4.pill_name}}&#13;&#10;Take {{ctrl.user_pillbox.box4.dose}} pill(s), {{ctrl.user_pillbox.box4.freq}} times a day&#13;&#10;&#13;&#10;Administered by: {{ctrl.user_pillbox.box4.admin}}&#13;&#10;&#13;&#10;{{ctrl.user_pillbox.box4.left}} pill(s) left </textarea>
                        <img ng-src="img/pillbox/4_yellow.png" style="width: 80px; height: 100px; float:left; padding-right: 5px;"></img>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-show="ctrl.showRegimen" class="no-padding">
                <div class="row no-padding responsive-sm">
                    <div class="col responsive-sm" ng-class="ctrl.user_pillbox.box5.adhere" ng-click="ctrl.pillBoxClick(5)">
                        <textarea class="textarea-inline" rows="6" cols="32" ng-class="ctrl.user_pillbox.box5.adhere" readonly>{{ctrl.user_pillbox.box5.pill_name}}&#13;&#10;Take {{ctrl.user_pillbox.box5.dose}} pill(s), {{ctrl.user_pillbox.box5.freq}} times a day&#13;&#10;&#13;&#10;Administered by: {{ctrl.user_pillbox.box5.admin}}&#13;&#10;&#13;&#10;{{ctrl.user_pillbox.box5.left}} pill(s) left </textarea>
                        <img ng-src="img/pillbox/5_blue.png" style="width: 80px; height: 100px; float: right;"></img>
                    </div>
                    <div class="col" ng-class="ctrl.user_pillbox.box6.adhere" ng-click="ctrl.pillBoxClick(6)">
                        <textarea class="textarea-inline" rows="6" cols="32" ng-class="ctrl.user_pillbox.box6.adhere" readonly>{{ctrl.user_pillbox.box6.pill_name}}&#13;&#10;Take {{ctrl.user_pillbox.box6.dose}} pill(s), {{ctrl.user_pillbox.box6.freq}} times a day&#13;&#10;&#13;&#10;Administered by: {{ctrl.user_pillbox.box6.admin}}&#13;&#10;&#13;&#10;{{ctrl.user_pillbox.box6.left}} pill(s) left </textarea>
                        <img ng-src="img/pillbox/6_green.png" style="width: 80px; height: 100px; float:left; padding-right: 5px;"></img>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-show="ctrl.showRegimen" class="no-padding">
                <div class="row no-padding responsive-sm">
                    <div class="col responsive-sm" ng-class="ctrl.user_pillbox.box7.adhere" ng-click="ctrl.pillBoxClick(7)">
                        <textarea class="textarea-inline" rows="6" cols="32" ng-class="ctrl.user_pillbox.box7.adhere" readonly>{{ctrl.user_pillbox.box7.pill_name}}&#13;&#10;Take {{ctrl.user_pillbox.box7_dose}} pill(s), {{ctrl.user_pillbox.box7.freq}} times a day&#13;&#10;&#13;&#10;Administered by: {{ctrl.user_pillbox.box7.admin}}&#13;&#10;&#13;&#10;{{ctrl.user_pillbox.box7.left}} pill(s) left </textarea>
                        <img ng-src="img/pillbox/7_darkblue.png" style="width: 80px; height: 100px; float: right;"></img>
                    </div>
                    <div class="col" ng-class="ctrl.user_pillbox.box8.adhere" ng-click="ctrl.pillBoxClick(8)">
                        <textarea class="textarea-inline" rows="6" cols="32" ng-class="ctrl.user_pillbox.box8.adhere" readonly>{{ctrl.user_pillbox.box8.pill_name}}&#13;&#10;Take {{ctrl.user_pillbox.box8.dose}} pill(s), {{ctrl.user_pillbox.box8.freq}} times a day&#13;&#10;&#13;&#10;Administered by: {{ctrl.user_pillbox.box8.admin}}&#13;&#10;&#13;&#10;{{ctrl.user_pillbox.box8.left}} pill(s) left </textarea>
                        <img ng-src="img/pillbox/8_red.png" style="width: 80px; height: 100px; float:left; padding-right: 5px;"></img>
                    </div>
                </div>
            </ion-item>

        </ion-list>

        <ion-list ng-show="ctrl.showNOK" class="no-padding">
            
            <ion-item class="no-padding item-content item-home">
                <div class="row">
                    <label style="height: 30px; font-weight: bold;  color: blue; font-size: 20px; width: 100%; text-align: center;">Next-of-Kins</label>
                    <button style="float: right;" class="button button-positive ion-android-add" ng-click="ctrl.addNOK()"></button>
                </div>
                <div class="row" style="font-weight: bold;">
                    <!--<div class="col">
                        NRIC / ID
                    </div>-->
                    <div class="col">
                        Last, First name
                    </div>
                    <div class="col">
                        Relationship
                    </div>
                    <div class="col">
                        Contact
                    </div>
                    <div class="col">
                        Email
                    </div>
                </div>
            </ion-item>

            <ion-item class="no-padding item-content item-home"
                    ng-click="ctrl.viewnok(item.id)"
                    ng-repeat="item in ctrl.nokList"
                    item="item"
                    ng-init= "item.adhere='NG'"
                    style="line-height: 35px;">

                <div class="row">
                    <!--<div class="col">
                        {{item.id}}
                    </div>-->
                    <div class="col">
                        {{ item.last_name+', '+item.first_name }}
                    </div>
                    <div class="col">
                        {{item.relationship}}
                    </div>
                    <div class="col">
                        {{item.contact}}
                    </div>
                    <div class="col">
                        {{item.email}}
                    </div>
                </div>

            </ion-item>
        </ion-list>

  </ion-content>
</ion-view>
