<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Patients Tab -->
  <ion-tab title="Patients" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="tab.patientlist">
    <ion-nav-view name="tab-patient"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <!--<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>-->

<!-- ePillBox Tab -->
  <!--<ion-tab title="e-PillBox" icon-off="ion-ios-box-outline" icon-on="ion-ios-box" ui-sref="tab.epillboxes">
    <ion-nav-view name="tab-epillbox"></ion-nav-view>
  </ion-tab>-->

  <!-- Nurses Tab -->
  <ion-tab title="Nurses" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="tab.nurselist">
    <ion-nav-view name="tab-nurse"></ion-nav-view>
  </ion-tab>

  <!-- Logout Tab -->
  <ion-tab title="Me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tab.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
